@model Salvis.App.Web.Models.ForgotPasswordViewModel
@using Salvis.Resources
@{
    ViewBag.Title = "Forgot password";
}

<div class="col-sm-12 col-md-12 col-lg-12">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { styles = "margin-bottom: 0px; !important;", Class = "form-horizontal", id = "accountForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="content">
            <h4 class="title">Forgot password?</h4>
            <div class="form-group">
                <div class="col-sm-12 col-md-12">
                    <p>Enter your e-mail</p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { placeholder = Texts.Email, id = "username", Class = "form-control", required = "required" })
                    </div>
                    <div id="nick-error"></div>
                </div>
            </div>

        </div>
        <div class="foot">
            <button class="btn btn-primary" data-dismiss="modal" type="submit">@Texts.OK</button>
        </div>
    }
</div>


@section ScriptsReferences{
    @Scripts.Render("~/bundles/parsley")
    @Scripts.Render("~/bundles/icheck")
    @Scripts.Render("~/bundles/account")
}
