@using Salvis.Resources

<div class="md-modal md-effect-10 colored-header warning" id="delete-confirm">
    <div class="md-content">
        <div class="modal-header">
            <h3>@Texts.TitleDeleteGoal</h3>
            <button type="button" class="close md-close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <div class="i-circle warning"><i class="fa fa-trash-o"></i></div>
                <h4>@Texts.Delete</h4>
                <p>@Texts.Goal_MsgDeleteGoal</p>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnCloseConfirm" type="button" class="btn btn-default btn-flat md-close" data-dismiss="modal">
                @Texts.Cancel
            </button>
            <button type="button" class="btn btn-danger btn-flat" data-bind="click: deleteItem">@Texts.Delete</button>
        </div>
    </div>
</div>
